Source: grub2-theme-xenta
Section: misc
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaoslinux/grub2-theme-xenta
Vcs-Browser: https://github.com/xentaoslinux/grub2-theme-xenta.git

Package: grub2-theme-xenta
Architecture: all
Conflicts : grub2-theme-mint
Replaces : grub2-theme-mint
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Paket Grub2 theme untuk Xenta OS.
 Bawaan Theme Grub2 untuk Xenta OS Semua Edisi.
